.Chat-App{
   text-align: center;  
}

.chatBox{
    text-align: center;
    border: 1px solid #ccc;
    width: 50%;
    margin: auto;
    height: auto;  
}

.chatBox input{
   padding: 20px;
   width: 100%;
   margin: auto;
}
.addbtn{
    margin-bottom: 10px;
}
